/* add custom styles */
html, body {
  background-color: #E3DC88;
  width: 100%;
  font-family: Open Sans;
}

a, a:hover {
  text-decoration: none;
}

.ambient-background {
  background-image: url("../images/restaurant-hero-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.order-background {
  background-image: url("../images/order-back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(227, 220, 136, .2);
  border-radius: 0 0 15px 0;
}

header h3 {
  float: right;
  margin-right: 10%;
  margin-top: 3%;
  color: #E3DC88;
}

.hero p {
  font-size: 6vw;
  color: #E3DC88;
  text-align: center;
  margin-top: 125px;
}

.hero a {
  font-size: 2vw;
  text-align: center;
  color: #E3DC88;
  background-color: rgba(178, 53, 44, .6);
  border: 2px solid #E3DC88;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero a:hover {
  color: rgb(178, 53, 44);
  background-color: #E3DC88;
  border: 2px solid rgb(178, 53, 44);
}

.about-section {
  margin: 20px;
}

.about-section img {
  margin-right: 10px;
}

.header-icon {
  height: 30px;
}

footer {
  height: 50px;
  width: 100%;
  color: #E3DC88;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer p span {
  height: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
